<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>图书相册</title>
<script src="__PUBLIC__/js/jquery-1.12.0.min.js"></script>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/diyUpload/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/diyUpload/css/diyUpload.css">
<script type="text/javascript" src="__PUBLIC__/diyUpload/js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/diyUpload/js/diyUpload.js"></script>
</head>
<style>
*{ margin:0; padding:0;}
#box{ margin:50px; width:540px; min-height:400px; background:#FF9}
#demo{ margin:10px; width:1040px; min-height:400px; background:#CF9}
</style>
<body>
<!-- <div id="box">
	<div id="test" ></div>
</div> -->
<div style="width:98.5%;float:left;" id="demo">
	<div id="as" ></div>
</div>
<input style="margin-left:9px;" type="button" onclick="location.href='<{:U('Admin/Bg/bglist',array('cid'=>$cid))}>'" class="btn" value="返回">
</body>
<script type="text/javascript">

/*
* 服务器地址,成功返回,失败返回参数格式依照jquery.ajax习惯;
* 其他参数同WebUploader
*/

$('#test').diyUpload({
	url:'server/fileupload.php',
	success:function( data ) {
		console.info( data );
	},
	error:function( err ) {
		console.info( err );	
	}
});

$('#as').diyUpload({
	url:'<{:U('Admin/Bg/images')}>',
	success:function( data ) {
		console.info( data );
	},
	error:function( err ) {
		console.info( err );	
	},
	buttonText : '选择图片',
	chunked:true,
	// 分片大小
	chunkSize:40000* 40000,
	//最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
	fileNumLimit:50,
	fileSizeLimit:500000 * 1024,
	fileSingleSizeLimit:50000 * 1024,
	accept: {}
});
</script>

</html>
